.container {
  width: 211px;
  height: 210px;
  background-color: blue;
  display: inline-block;
}

.line {
  background-color: red;
}

.line1 {
  position: absolute;
  width: 211px;
  height: 10px;
  top: 50px;
}

.line2 {
  position: absolute;
  height: 210px;
  width: 10px;
  left: 50px;
}
